In [1]:
%load_ext autoreload
%autoreload 2

In [4]:
import pandas as pd
from Scraping.Helpers.RedditScraper import RedditScraper

card_data = pd.read_csv("./training/training.csv")

# Filter out any nan values in the text column
card_data = card_data[card_data['text'].notna()]

classifier = RedditScraper(1000000,1000000)
output = classifier.get_claims(card_data, 'text')

output.to_csv("./training/train_with_score.csv", index=False)

51059

0it [00:00, ?it/s]

0

1it [00:00,  3.59it/s]

5000

5001it [00:40, 123.60it/s]

10000

10001it [01:23, 118.81it/s]

15000

15001it [02:07, 116.62it/s]

20000

20001it [02:51, 115.73it/s]

25000

25001it [03:35, 115.02it/s]

30000

30001it [04:19, 114.12it/s]

35000

35001it [05:03, 113.87it/s]

40000

40001it [05:49, 112.43it/s]

45000

45001it [06:33, 112.84it/s]

50000

51059it [07:17, 116.80it/s]

In [5]:
card_data

                                                   text claim
0     The discussion is far from over. The true mind...   5_1
1     NASA's James Hansen claims extreme weather eve...   0_0
2     Figure 1. Lake Baikal paleoclimate record from...   0_0
3     Nuccitellis answer to this unexceptionable and...   2_1
4     It makes you wonder what created all that CO2 ...   2_1
...                                                 ...   ...
2899  none of the Climategate panels mounted an inqu...   5_2
2900  Emails Reveal AGs Colluding with Green Groups ...   5_2
2901  Even before the Climategate Emails came to lig...   5_2
2902  In the interest of full disclosure, I have bee...   5_2
2903  As readers no doubt know, I have previously ob...   5_2

[2904 rows x 2 columns]

In [5]:
# Filter output to where score is greater than 0.7
output_fil = output[output['score'] > 0.7]
print(len(output_fil))

10048